{# Australian politics email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}

{% set title = 'Australian politics' %}
{% set title_link = 'http://www.theguardian.com/world/australian-politics' %}
{% set title_colour = '#c22d05' %}
{% set logo_background  = '#961f02' %}
{% set facebook_page = 'theguardianaustralia' %}
{% set twitter_account = 'GuardianAus' %}
{% set footer_link = 'http://www.theguardian.com/au' %}

{% block content %}

{{ layout.story_trail(
    heading_text='Latest',
    stories=politics_latest,
    heading_link='http://www.theguardian.com/world/australian-politics',
    heading_colour='#c22d05',
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='Comment is free',
    stories=politics_comment,
    heading_link='http://www.theguardian.com/commentisfree/commentisfree+world/australian-politics',
    heading_colour='#c22d05',
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='Video',
    stories=politics_video,
    heading_link='http://www.theguardian.com/world/australian-politics+type/video',
    heading_colour='#c22d05',
    top_thumb=True) }}

{% endblock content %}

{% set sections = (('Australian politics', 'http://www.theguardian.com/world/australian-politics'),
                   ('Comment is free', 'http://www.theguardian.com/commentisfree/commentisfree+world/australia')) %}
