<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %}{% endblock %}</title>
</head>

<body style="background: #faf9f8; margin: 0; padding: 0;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td align="center">
				<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#faf9f8" style="max-width: 600px; display: block;">
					<tr><td>
						<!-- header -->
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="140" valign="top">
									<div style="height: 70px; width: 50px; text-align: center; background: {{ email_color }}; font: 48px/0.8 Georgia, serif; color: #ffffff; font-weight: bold;" title="The Guardian">g</div>
								</td>
								<td width="140">
									<table width="100%" cellpadding="0" cellspacing="0" border="0" align="right">
										{% block email_logo %}
<tr>
	<td width="132" style="font-family: georgia; font-size: 48px; color: #00538c; padding-top: 8px;"><img src="{{ URL_ROOT }}/static/img/{{ email_logo_img }}" width="132" height="40" alt="Today" align="right" border="0" /></td>
</tr>
										{% endblock %}
										<tr>
											<td width="100%" class="date" style="font: 12px Helvetica, Arial, sans-serif; color: #333333; text-align: right; padding: 8px 15px 0 0">{{ date }}</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<!-- /header -->
					</td></tr>

{% block content %}
{% endblock %}

					<tr><td>
						<!-- footer -->
						<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#444444" style="margin-top: 0;">
							<!-- logo-social -->
							<tr>
								<td style="padding: 20px 15px 0 15px;">
									<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td align="left" width="50%">
												<a href="http://www.guardian.co.uk"><img src="http://***REMOVED***.appspot.com/static/img/logo-footer.png" width="131" height="24" alt="The Guardian" border="0" /></a>
											</td>

											<td width="50%" align="right">
												<table cellpadding="0" cellspacing="0" border="0">
													{% block social %}
													<tr>
														{% if twitter_account %}
														<td align="left" width="50"><a href="https://www.twitter.com/{{ twitter_account }}"><img src="http://***REMOVED***.appspot.com/static/img/twitter.png" border="0" width="25" height="25" style="float: left;" /></a></td>
														{% endif %}
														{% if facebook_page %}
														<td align="left" width="25"><a href="https://www.facebook.com/{{ facebook_page }}"><img src="http://***REMOVED***.appspot.com/static/img/fb.png" border="0" width="25" height="25" style="float: left;" /></a></td>
														{% endif %}
													</tr>
													{% endblock social %}
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- /logo-social -->

							<!-- sections -->
							{% block sections %}
							<tr>
								<td style="padding: 20px 15px 20px 15px;">
								{% if sections %}
									<table cellpadding="0" cellspacing="0" border="0">
										<tr>
										{% for section in sections %}
											<td>
												<a style="font: 12px Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; padding: 0 5px{% if loop.first %} 0 0{% endif %};{% if not loop.last %} border-right: 1px solid #bebebe;{% endif %}; white-space: nowrap;" href="{{ section[1] }}">{{ section[0] }}</a>
											</td>
										{% endfor %}
										</tr>
									</table>
								{% endif %}
								</td>
							</tr>
							{% endblock sections %}
							<!-- /sections -->
						</table>

						<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#333333" style="border-bottom: 1px solid #bebebe;">
							<tr><td align="left" style="padding: 20px 15px 20px 15px;">
								<a href="http://www.guardian.co.uk/info/email-services" style="font: 13px Helvetica, Arial, sans-serif; color: #fff; text-decoration: none;"><img src="http://***REMOVED***.appspot.com/static/img/email.png" border="0" style="vertical-align: -4px; margin-right: 5px;" width="25" height="18" alt="" /> Get more Guardian emails</a>
							</td></tr>
						</table>

						<!-- /footer -->
					</td></tr>
				</table>
			</td>
		</tr>
	</table>
</body>
