{# Daily (Guardian Today) email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}


{% set title = 'the guardian today' %}
{% set title_link = 'http://www.theguardian.com' %}
{% set title_colour = '#333333' %}
{% set logo_background = '#004179' %}
{% set facebook_page = 'theguardian' %}
{% set twitter_account = 'guardian' %}
{% set footer_colour = 'light' %}

{% block title %}Guardian Today{% endblock %}

{% block content %}

    {{ layout.story_trail(heading_text='Editor\'s picks',
        stories=top_stories,
        heading_link='http://www.theguardian.com',
        heading_colour='#c22d05',
        top_thumb=True,
        standfirst=False) }}

    {{ layout.story_trail(
        heading_text='Most viewed in last 24 hours',
        stories=most_viewed,
        heading_link='http://www.theguardian.com/mostviewed',
        heading_colour='#004179',
        top_thumb=True,
        standfirst=False) }}

{% endblock content %}

{% block footer %}{% endblock footer %}

{% set sections = (('Football', 'http://www.theguardian.com/football'),
                   ('Comment is free', 'http://www.theguardian.com/commentisfree'),
                   ('Environment', 'http://www.theguardian.com/environment')) %}