{# Daily (Guardian Today) email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}


{% set title = 'the guardian today - Australia edition' %}
{% set title_link = 'http://www.guardian.co.uk/australia' %}
{% set title_colour = '#333333' %}
{% set logo_background = '#004179' %}
{% set facebook_page = 'theguardianaustralia' %}
{% set twitter_account = 'GuardianAus' %}
{% set footer_colour = 'light' %}

{% block title %}Guardian Today - Australia edition{% endblock %}

{% block content %}

    {{ layout.story_trail(heading_text='Editor\'s picks',
    stories=top_stories_code,
    heading_link='http://www.guardian.co.uk',
    heading_colour='#c22d05',
    top_thumb=True,
    standfirst=False) }}

    {{ layout.story_trail(
    heading_text='Sport',
    stories=sport,
    heading_link='http://www.guardian.co.uk/sport',
    heading_colour='#20a111',
    standfirst=False) }}

    {{ layout.story_trail(
    heading_text='Australian Sport',
    stories=aus_sport,
    heading_link='http://www.guardian.co.uk/sport/australia-sport',
    heading_colour='#20a111',
    standfirst=False) }}

    {{ layout.story_trail(
    heading_text='Culture',
    stories=culture_place_holder_blog,
    heading_link='http://www.guardian.co.uk/culture',
    heading_colour='#d1008b',
    standfirst=False) }}

    {{ layout.story_trail(
    heading_text='Comment is free',
    stories=comment,
    heading_link='http://www.guardian.co.uk/commentisfree/commentisfree+world/australia',
    heading_colour='#0061a6',
    standfirst=False) }}

    {{ layout.story_trail(
    heading_text='Life and style',
    stories=lifeandstyle_place_holder_blog,
    heading_link='http://www.guardian.co.uk/lifeandstyle',
    heading_colour='#ea721e',
    standfirst=False) }}

    {{ layout.story_trail(
    heading_text='Technology',
    stories=technology,
    heading_link='http://www.guardian.co.uk/technology',
    heading_colour='#d61d00',
    standfirst=False) }}

    {{ layout.story_trail(
    heading_text='Science',
    stories=science,
    heading_link='http://www.guardian.co.uk/science',
    heading_colour='#d61d00',
    standfirst=False) }}

    {{ layout.story_trail(
    heading_text='Environment',
    stories=environment,
    heading_link='http://www.guardian.co.uk/environment',
    heading_colour='#7bbb00',
    standfirst=False) }}

    {{ layout.story_trail(
    heading_text='Video',
    stories=video_place_holder_blog,
    heading_link='http://www.guardian.co.uk/video',
    heading_colour='#0061A6',
    standfirst=False) }}

    {{ layout.story_trail(heading_text='Most viewed in last 24 hours',
    stories=most_viewed,
    heading_link='http://www.guardian.co.uk/mostviewed',
    heading_colour='#bada55',
    top_thumb=True,
    standfirst=False) }}

{% endblock content %}
        //Sport culture cmment

{% set sections = (('Sport', 'http://www.guardian.co.uk/sport'),
('Culture', 'http://www.guardian.co.uk/culture'),
('Comment is free', 'http://www.guardian.co.uk/commentisfree/commentisfree+world/australia')) %}
