{# India email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}

{% set title = 'the guardian today - India edition' %}
{% set title_link = 'http://www.theguardian.com/world/india' %}
{% set title_colour = '#333333' %}
{% set logo_background = '#f93' %}
{% set facebook_page = 'theguardian' %}
{% set twitter_account = 'guardian' %}
{% set footer_colour = 'light' %}

{% block title %}Guardian Today - India edition{% endblock %}

{% block content %}

{{ layout.story_trail(
    heading_text='Most shared',
    stories=india_most_shared,
    heading_link='http://www.theguardian.com/world/india',
    heading_colour='#128807',
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='Latest stories',
    stories=india_recent,
    heading_link='http://www.theguardian.com/world/india',
    heading_colour='#128807',
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='Comment is free',
    stories=india_comment,
    heading_link='http://www.theguardian.com/commentisfree/commentisfree+world/india',
    heading_colour='#128807',
    top_thumb=True) }}

{% endblock content %}

{% set sections = (('World news', 'http://www.theguardian.com/world'),
                   ('Technology', 'http://www.theguardian.com/technology'),
                   ('Cricket', 'http://www.theguardian.com/sport/cricket')) %}
