{# Fashion Statement email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}

{% set title = 'Fashion statement' %}
{% set title_link = 'http://www.theguardian.com/fashion' %}
{% set title_colour = '#ab1700' %}
{% set logo_background  = '#ffc202' %}
{% set facebook_page = 'GuardianFashion' %}
{% set twitter_account = 'GuardianFashion' %}
{% set footer_link = 'http://www.theguardian.com' %}

{% block content %}

{{ layout.story_trail(
    heading_text='Latest fashion',
    stories=fashion_news,
    heading_link='http://www.theguardian.com/fashion',
    heading_text_colour='#ab1700',
    heading_colour='#ffb93e',
    thumbnail=True) }}

{{ layout.story_trail(
    heading_text='Ask Hadley',
    stories=fashion_hadley,
    heading_link='http://www.theguardian.com/fashion/series/ask-hadley',
    heading_text_colour='#ab1700',
    heading_colour='#ffb93e',
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='Most read',
    stories=fashion_most_viewed,
    heading_link='http://www.theguardian.com/most-read/fashion?view=mobile',
    heading_text_colour='#ab1700',
    heading_colour='#ffb93e',
    top_thumb=True) }}

{{ layout.advert(ads.leaderboard_v1) }}

{{ layout.image(
    image=fashion_gallery,
    bg_colour='#faf9f8',
    heading_text='Fashion gallery',
    heading_link='http://www.theguardian.com/fashion/fashion+type/gallery',
    heading_text_colour='#ab1700',
    heading_colour='#ffb93e',
    caption_colour='#555555',
    source_colour='#888888') }}

{{ layout.story_trail(
    heading_text='Latest from Fashion blog',
    stories=fashion_blog,
    heading_link='http://www.theguardian.com/fashion/fashion-blog',
    heading_text_colour='#ab1700',
    heading_colour='#ffb93e',
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='Latest from Fashion network',
    stories=fashion_network,
    heading_link='http://www.theguardian.com/fashion/series/guardian-fashion-blogs-network',
    heading_text_colour='#ab1700',
    heading_colour='#ffb93e',
    top_thumb=True) }}

{{ layout.video(
    video=fashion_video,
    bg_colour='#faf9f8',
    heading_text='How to dress',
    heading_link='http://www.theguardian.com/theguardian/series/how-to-dress',
    heading_text_colour='#ab1700',
    heading_colour='#ffb93e',
    caption_colour='#555555') }}

{{ layout.advert(ads.leaderboard_v2) }}

{% endblock content %}

{% set sections = (('Beauty', 'http://www.theguardian.com/fashion/beauty'),
                   ('Fashion best buys', 'http://www.theguardian.com/fashion/fashion-best-buys'),
                   ('Life &amp; style', 'http://www.theguardian.com/lifeandstyle'),
                   ('Comment is free', 'http://www.theguardian.com/commentisfree')) %}
