{# Index template #}

{% extends 'base_email.html' %}

{% set title = 'Email renderer' %}
{% set title_link = '/' %}
{% set title_colour = '#333' %}
{% set logo_background  = '#333' %}

{% block content %}
<tr><td align="left">
    <table width="600px" cellpadding="0" cellspacing="0" border="0">
        <tr><td style="padding: 10px 20px 20px 20px; border-top: 1px solid #dedede; color: #999;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/daily-email/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Daily Email, v1</a> |
                        <a class="story-title" href="/daily-email/v2" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v2</a> |
                        <a class="story-title" href="/daily-email/v3" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v3</a> |
                        <a class="story-title" href="/daily-email/v4" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v4</a> |
                        <a class="story-title" href="/daily-email/v5" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v5</a> |
                        <a class="story-title" href="/daily-email/MPU_v1a" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">MPU email test v1a</a> |
                        <a class="story-title" href="/daily-email/MPU_v1b" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">MPU email test v1b</a> |
                        <a class="story-title" href="/daily-email/MPU_v2" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">MPU email test v2</a> |
                        <a class="story-title" href="/headline" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">headline</a> |
                        <a class="story-title" href="/daily-email/india" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">India</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/daily-email-us/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Daily Email - US edition, v1</a> |
                        <a class="story-title" href="/daily-email-us/v2" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v2</a> |
                        <a class="story-title" href="/daily-email-us/v3" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v3</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/daily-email-aus/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Daily Email - Australia edition</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/australian-politics/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Australian politics</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/close-up/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Close up, v1</a> |
                        <a class="story-title" href="/close-up/v2" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v2</a> |
                        <a class="story-title" href="/close-up/v3" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v3</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/comment-is-free/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Comment is free, v1</a> |
                        <a class="story-title" href="/comment-is-free/v2" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v2</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/fashion-statement/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Fashion statement, v1</a> | <a class="story-title" href="/fashion-statement/v2" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v2</a>
 | <a class="story-title" href="/fashion-statement/v3" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v3</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/media-briefing/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Media briefing</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/sleeve-notes/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Sleeve notes, v1</a> |
                        <a class="story-title" href="/sleeve-notes/v2" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v2</a> |
                        <a class="story-title" href="/sleeve-notes/v3" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">v3</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/the-flyer/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">The Flyer</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/zip-file/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Zip file</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/most-commented/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Most commented</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/most-shared/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Most shared</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/most-viewed/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Most viewed</a>
                    </td>
                </tr><tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/editors-picks/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Editor's picks</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/film-today/v1" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">Film today email</a>
                    </td>
                </tr></tbody>
            </table>
        </td></tr>
    </table>
</td></tr>
{% endblock content %}
