{# Index template #}

{% extends 'base_email.html' %}

{% set title = 'Email renderer' %}
{% set title_link = '/' %}
{% set footer_colour = 'light' %}

{% block content %}
<style>
  .story-title {
    color: #005689;
    font: 15px/19px Georgia, serif;
    text-decoration: none;
  }
</style>

<tr><td align="left">
    <table width="600px" cellpadding="0" cellspacing="0" border="0">
        <tr><td style="padding: 10px 20px 20px 20px; border-top: 1px solid #dedede; color: #999;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        This tool should not be used for new emails.
                        Please contact the <a href="mailto:digitalcms.dev@guardian.co.uk">Digital CMS Team</a>.
                    </tr>
                    <tr>
                        <td style="padding: 10px 20px 20px 20px;">
                            UK Daily Email
                            <a class="story-title" href="/daily-email/categories" >Categories</a> |
                            <a class="story-title" href="/headline" >headline</a>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 10px 20px 20px 20px;">
                        Daily Email - Australia edition
                            <a class="story-title" href="/daily-email-aus/v4" >v4</a>
                        </td>
                    </tr> 

                    <tr>
                        <td style="padding: 10px 20px 20px 20px;">
                            Australian politics
                            <a class="story-title" href="/australian-politics/v4" >v4</a>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 10px 20px 20px 20px;">
                            <a class="story-title" href="/australian-cif/v1" >Australian CiF</a>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 10px 20px 20px 20px;">
                            <a class="story-title" href="/australia-sport/v1" >Australian Sport</a>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 10px 20px 20px 20px;">
                            Comment is free
                            <a class="story-title" href="/headline/uk/opinion/v1">v1 headline</a>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 10px 20px 20px 20px;">
                            Close up
                            <a class="story-title" href="/close-up/v2" >v2</a> |
                            <a class="story-title" href="/close-up/v3" >v3</a>
                        </td>
                    </tr>

                <tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        Film today email
                        <a class="story-title" href="/film-today/v2" >v2</a>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 10px 20px 20px 20px;">
                        <a class="story-title" href="/zip-file/v1" >Zip file</a>
                    </td>
                </tr>

            </tbody>
            </table>
        </td></tr>
    </table>
</td></tr>
{% endblock content %}
