{% import 'macro/layout.html' as layout %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Guardian Today</title>
</head>

<body style="background: #faf9f8; margin: 0; padding: 0;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#faf9f8">
		<tr>
			<!-- header -->
			<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#faf9f8">
				<tr>
					<td width="50%" style="padding-bottom: 20px;"><img src="/static/img/logo.png" width="50" height="95" alt="" border="0" /></td>
					<td width="50%" style="padding-bottom: 20px;">
						<table width="100%" cellpadding="0" cellspacing="0" border="0" align="right">
							<tr>
								<td width="100%">
									<table width="132" cellpadding="0" cellspacing="0" border="0" align="right">
										<tr>
											<td width="132"><img src="/static/img/the-guardian.png" width="132" height="35" alt="The Guardian" style="" align="right" border="0" /></td>
										</tr>
										<tr>
											<td width="132"><img src="/static/img/today.png" width="132" height="40" alt="The Guardian" align="right" border="0" /></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="100%" class="date" style="font: 13px Arial; color: #333; text-align: right; padding: 8px 15px 0 0">Wednesday 12 Dec 2012</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- /header -->
		</tr>
		
		{{ layout.story_trail('Top Stories', top_stories) }}
	</table>
</body>