{# Media Briefing email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}

{% set title = 'Media briefing' %}
{% set title_link = 'http://www.guardian.co.uk/media/series/media-briefing' %}
{% set title_colour = '#c22d05' %}
{% set logo_background  = '#92005e' %}
{% set facebook_page = 'mediaguardian' %}
{% set twitter_account = 'mediaguardian' %}

{% block content %}

{{ layout.story_trail(
	heading_text	= 'Top stories on MediaGuardian',
	stories			= media_stories,
	heading_link	= 'http://www.guardian.co.uk/media',
	heading_colour	= '#c22d05',
	top_thumb		= True) }}

{{ layout.story_trail(
	heading_text	= 'Top comment on MediaGuardian',
	stories			= media_comment,
	heading_link	= 'http://www.guardian.co.uk/media',
	heading_colour	= '#c22d05') }}

{{ layout.story_trail(
	heading_text	= 'Media Monkey\'s pick of the day',
	stories			= media_monkey,
	heading_link	= 'http://www.guardian.co.uk/media/mediamonkeyblog',
	more_text		= 'Media Monkey',
	heading_colour	= '#c22d05',
	first_para		= True) }}

{% endblock content %}

{% set sections = (('Business', 'http://www.guardian.co.uk/business'), ('Tech', 'http://www.guardian.co.uk/technology'), ('Sport', 'http://www.guardian.co.uk/sport'), ('Travel', 'http://www.guardian.co.uk/travel'), ('Life &amp; style', 'http://www.guardian.co.uk/lifeandstyle')) %}
