{# email template #}

{% extends 'base_scrape.html' %}
{% import 'macro/layout.html' as layout %}


{% set title = 'Daily Comment Munge' %}
{% set title_link = 'http://www.guardian.co.uk' %}
{% set title_colour = '#333333' %}

{% block title %}Daily Munge{% endblock %}

{% block content %}

    {{ layout.story_trail(heading_text='Most commented in last 24 hours',
        stories=most_commented,
        heading_link='http://www.guardian.co.uk/commentisfree',
        heading_colour='#bada55',
        top_thumb=True) }}

{% endblock content %}
