{# Technology email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}

{% set title = 'Zip File: Technology news from the Guardian' %}
{% set title_link = 'http://www.theguardian.com/technology' %}
{% set title_colour = '#c22d05' %}
{% set logo_background  = '#961f02' %}
{% set facebook_page = 'guardiantechnology' %}
{% set twitter_account = 'guardiantech' %}
{% set footer_link = 'http://www.theguardian.com' %}

{% block content %}

{{ layout.story_trail(
    heading_text='Hot tech stories today',
    stories=tech_news,
    heading_link='http://www.theguardian.com/technology',
    heading_colour='#c22d05',
    thumbnail=True) }}

{{ layout.advert(ads.leaderboard_v1) }}

{{ layout.story_trail(
    heading_text='This week\'s most talked about stories',
    stories=tech_most_commented,
    heading_link='http://www.theguardian.com/most-viewed/technology',
    heading_colour='#c22d05',
    thumbnail=True) }}

{{ layout.story_trail(
    heading_text='Latest games news and reviews',
    stories=tech_games,
    heading_link='http://www.theguardian.com/technology/games',
    heading_colour='#c22d05',
    standfirst=False,
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='The week\'s posts from our blogs',
    stories=tech_blog,
    heading_link='http://www.theguardian.com/technology/blog',
    heading_colour='#c22d05',
    standfirst=False,
    top_thumb=True) }}

{{ layout.advert(ads.leaderboard_v2) }}

{{ layout.story_trail(
    heading_text='Latest podcast',
    stories=tech_podcast,
    heading_link='http://www.theguardian.com/technology/series/techweekly',
    heading_colour='#c22d05') }}

{{ layout.video(
    video=tech_video,
    bg_colour='#faf9f8',
    heading_text='Technology video this week',
    heading_link='http://www.theguardian.com/technology/series/tech-sessions',
    heading_colour='#c22d05',
    caption_colour='#555555') }}

{% endblock content %}

{% block footer %}{% endblock footer %}
