{# Close up email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}

{% set title = 'Close up' %}
{% set title_link = 'http://www.theguardian.com/film' %}
{% set title_colour = '#d1008b' %}
{% set logo_background  = '#92005e' %}
{% set facebook_page    = 'guardianfilm' %}
{% set twitter_account  = 'guardianfilm' %}
{% set footer_link = 'http://www.theguardian.com' %}

{% block header %}{% endblock header %}

{% block content %}

{{ layout.story_trail(
    heading_text='Top stories',
    stories=film_picks,
    heading_link='http://www.theguardian.com/film',
    heading_colour='#d1008b',
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='Most read',
    stories=film_most_viewed,
    heading_link='http://www.theguardian.com/most-read/film?view=mobile',
    heading_colour='#d1008b',
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='Interviews',
    stories=film_interviews,
    heading_link='http://www.theguardian.com/film/film+tone/interview',
    heading_colour='#d1008b',
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='Film blogs',
    stories=film_blogs,
    heading_link='http://www.theguardian.com/film/filmblog',
    heading_colour='#d1008b',
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='Take the quiz',
    stories=film_quiz,
    heading_link='http://www.theguardian.com/film/film+type/quiz',
    heading_colour='#d1008b',
    top_thumb=True) }}


{{ layout.advert(ads.leaderboard_v2) }}

{% endblock content %}

{% block footer %}{% endblock footer %}
