<tr>
	<td>
	<!-- header -->
	<table width="100%" cellspacing="0" cellpadding="0" border="0" style="padding-bottom: 1px;">
		<tbody>
			<tr>
				<td style="padding: 10px 0px 10px 20px;">
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr align="left">
							<td style="font-family: Georgia,serif; font-size: 20px; color: #004a83;"><span style="color: #004a83; text-decoration: none;">Guardian Australia's Morning Mail</span></td>
						</tr>
						<tr align="left">
							<td style="font-family: Arial,sans-serif; font-size: 12px; color: #666666; padding-top: 3px;">{{data.sydney_date}}</td>
						</tr>
					</tbody>
				</table>
				</td>
				<td width="64" bgcolor="#004a83" align="center" style="font-weight: bold; font-family: Georgia,serif; color: #ffffff;">
				<div style="font-size: 47px; padding-bottom: 22px; line-height: 47px;">
				g
				</div>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- /header -->
	</td>
</tr>