<style>
.content-holder {
width: 320px !important;
}
@media only screen and (min-width: 480px) {
.section-heading {
font-size: 17px !important;
padding: 8px 0 !important;
}
.story-image {
height: 84px !important;
width: 140px !important;
}
.story-title {
font-size: 16px !important;
line-height: 20px !important;
}
.content-holder {
width: 480px !important;
}
}
@media only screen and (min-width: 600px) {
.content-holder {
width: 600px !important;
}
}
@media only screen and (max-width: 320px) {
.content-holder {
width: 100% !important;
}
}
</style>
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody>
		<tr>
			<td align="center">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#faf9f8" style="min-width: 320px; max-width: 600px; display: block;" class="content-holder">
				<tbody>
					<tr>
						<td>
						<!-- header -->
						<table width="100%" cellspacing="0" cellpadding="0" border="0" style="padding-bottom: 1px;">
							<tbody>
								<tr>
									<td style="padding: 10px 0px 10px 20px;">
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr align="left">
												<td style="font-family: Georgia,serif; font-size: 20px; color: #004a83;"><span style="color: #004a83; text-decoration: none;">Guardian Australia's Morning Mail</span></td>
											</tr>
											<tr align="left">
												<td style="font-family: Arial,sans-serif; font-size: 12px; color: #666666; padding-top: 3px;">Tuesday 01 Jul 2014</td>
											</tr>
										</tbody>
									</table>
									</td>
									<td width="64" bgcolor="#004a83" align="center" style="font-weight: bold; font-family: Georgia,serif; color: #ffffff;">
									<div style="font-size: 47px; padding-bottom: 22px; line-height: 47px;">
									g
									</div>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- /header -->
						</td>
					</tr>
					<tr>
						<td>
						<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#004a83">
							<tbody>
								<tr valign="top">
									<td align="left" style="padding: 0px 0px 0px 20px;">
									<span style="font-style: normal; font-variant: normal; line-height: normal; display: block; padding: 10px 0px; font-weight: normal; color: #ffffff; text-decoration: none; font-family: Georgia,serif; font-size: 14px;" class="section-heading">
									Subsection 1</span>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
						<td></td>
					</tr>
					<tr>
						<td align="left">
						<br />
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td style="padding: 10px 20px 20px;"><font size="3" face="Georgia">
									<p style="text-align: center;">
									<img width="270" border="0" height="162" style="width: 270px; height: 162px; border-color: #000000; margin: 0px;" alt="Tony-Blair-011" title="Tony-Blair-011" src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/7/2/1404306001161/Tony-Blair-011.jpg" />&nbsp;
									</p>
									The Refugee Council of Australia has warned that Australia would &quot;flagrantly&quot; violate the refugee convention if 153 Tamil asylum seekers were sent to Sri Lanka without being allowed to lodge a claim for protection.<br />
									<br />
									There have been unconfirmed reports that those on the boat, which was reportedly stranded near Christmas Island at the weekend, have been handed over to the Sri Lankan navy.<br />
									&nbsp;<br />
									Meanwhile, the ousted Papua New Guinea assistant police commissioner has claimed that the main suspect in Reza Barati's death, a former Salvation Army worker, has fled to the PNG mainland.&nbsp;<br />
									&nbsp;<br />
									And an asylum seeker who lost an eye in the violence in which Barati was killed is suing the government and security firm G4S, claiming they failed in their duty of care.
									</font></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#004a83">
							<tbody>
								<tr valign="top">
									<td align="left" style="padding: 0px 0px 0px 20px;">
									<span style="font-style: normal; font-variant: normal; line-height: normal; display: block; padding: 10px 0px; font-weight: normal; color: #ffffff; text-decoration: none; font-family: Georgia,serif; font-size: 14px;" class="section-heading">
									Subsection 2</span>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
						<td></td>
					</tr>
					<tr>
						<td align="left">
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td style="padding: 10px 20px 20px;">
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td valign="top" align="left">
												<div>
												<span style="color: #005689; font-style: normal; font-variant: normal; font-weight: normal; line-height: 19px; text-decoration: none; display: block; padding-bottom: 4px; font-family: Georgia,serif; font-size: 15px;" class="story-title"><span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">The Refugee Council of Australia has warned that Australia would &quot;flagrantly&quot; violate the refugee convention if 153 Tamil asylum seekers were sent to Sri Lanka without being allowed to lodge a claim for protection.</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">There have been unconfirmed reports that those on the boat, which was reportedly stranded near Christmas Island at the weekend, have been handed over to the Sri Lankan navy.</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">&nbsp;</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">Meanwhile, the ousted Papua New Guinea assistant police commissioner has claimed that the main suspect in Reza Barati's death, a former Salvation Army worker, has fled to the PNG mainland.&nbsp;</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">&nbsp;</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">And an asylum seeker who lost an eye in the violence in which Barati was killed is suing the government and security firm G4S, claiming they failed in their duty of care.</span></span>
												</div>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#004a83">
							<tbody>
								<tr valign="top">
									<td align="left" style="padding: 0px 0px 0px 20px;">
									<span style="font-style: normal; font-variant: normal; line-height: normal; display: block; padding: 10px 0px; font-weight: normal; color: #ffffff; text-decoration: none; font-family: Georgia,serif; font-size: 14px;" class="section-heading">
									Subsection 3</span>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
						<td></td>
					</tr>
					<tr>
						<td align="left">
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td style="padding: 10px 20px 20px;">
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td valign="top" align="left">
												<div>
												<span style="color: #005689; font-style: normal; font-variant: normal; font-weight: normal; line-height: 19px; text-decoration: none; display: block; padding-bottom: 4px; font-family: Georgia,serif; font-size: 15px;" class="story-title"><span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">The Refugee Council of Australia has warned that Australia would &quot;flagrantly&quot; violate the refugee convention if 153 Tamil asylum seekers were sent to Sri Lanka without being allowed to lodge a claim for protection.</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">There have been unconfirmed reports that those on the boat, which was reportedly stranded near Christmas Island at the weekend, have been handed over to the Sri Lankan navy.</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">&nbsp;</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">Meanwhile, the ousted Papua New Guinea assistant police commissioner has claimed that the main suspect in Reza Barati's death, a former Salvation Army worker, has fled to the PNG mainland.&nbsp;</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">&nbsp;</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">And an asylum seeker who lost an eye in the violence in which Barati was killed is suing the government and security firm G4S, claiming they failed in their duty of care.</span></span>
												</div>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#004a83">
							<tbody>
								<tr valign="top">
									<td align="left" style="padding: 0px 0px 0px 20px;">
									<span style="font-style: normal; font-variant: normal; line-height: normal; display: block; padding: 10px 0px; font-weight: normal; color: #ffffff; text-decoration: none; font-family: Georgia,serif; font-size: 14px;" class="section-heading">
									Subsection 4</span>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
						<td></td>
					</tr>
					<tr>
						<td align="left">
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td style="padding: 10px 20px 20px;"><span style="font-family: Georgia; font-size: medium;">The Refugee Council of Australia has warned that Australia would &quot;flagrantly&quot; violate the refugee convention if 153 Tamil asylum seekers were sent to Sri Lanka without being allowed to lodge a claim for protection.</span><br style="font-family: Georgia; font-size: medium;" />
									<br style="font-family: Georgia; font-size: medium;" />
									<span style="font-family: Georgia; font-size: medium;">There have been unconfirmed reports that those on the boat, which was reportedly stranded near Christmas Island at the weekend, have been handed over to the Sri Lankan navy.</span><br style="font-family: Georgia; font-size: medium;" />
									<span style="font-family: Georgia; font-size: medium;">&nbsp;</span><br style="font-family: Georgia; font-size: medium;" />
									<span style="font-family: Georgia; font-size: medium;">Meanwhile, the ousted Papua New Guinea assistant police commissioner has claimed that the main suspect in Reza Barati's death, a former Salvation Army worker, has fled to the PNG mainland.&nbsp;</span><br style="font-family: Georgia; font-size: medium;" />
									<span style="font-family: Georgia; font-size: medium;">&nbsp;</span><br style="font-family: Georgia; font-size: medium;" />
									<span style="font-family: Georgia; font-size: medium;">And an asylum seeker who lost an eye in the violence in which Barati was killed is suing the government and security firm G4S, claiming they failed in their duty of care.</span>
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tbody>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#004a83">
							<tbody>
								<tr valign="top">
									<td align="left" style="padding: 0px 0px 0px 20px;">
									<span style="font-style: normal; font-variant: normal; line-height: normal; display: block; padding: 10px 0px; font-weight: normal; color: #ffffff; text-decoration: none; font-family: Georgia,serif; font-size: 14px;" class="section-heading">
									Subsection 5</span>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
						<td></td>
					</tr>
					<tr>
						<td align="left">
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td style="padding: 10px 20px 20px;">
									<table width="100%" cellspacing="0" cellpadding="0" border="0" style="color: #005689; font-style: normal; font-variant: normal; font-weight: normal; line-height: 19px; text-decoration: none; display: block; padding-bottom: 4px; font-family: Georgia,serif; font-size: 15px;" class="story-title">
										<tbody>
											<tr>
												<td valign="top" align="left">
												<div>
												<div>
												<font size="3" color="#000000" face="Georgia"><span style="line-height: normal;">&bull; T</span></font><span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">he Refugee Council of Australia has warned that Australia would &quot;flagrantly&quot; violate the refugee convention if 153 Tamil asylum seekers were sent to Sri Lanka without being allowed to lodge a claim for protection.</span>
												</div>
												<div>
												<br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<font size="3" color="#000000" face="Georgia"><span style="line-height: normal;">&bull; There have been unconfirmed reports that those on the boat, which was reportedly stranded near Christmas Island at the weekend, have been handed over to the Sri Lankan navy.</span></font><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">&nbsp;</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<font size="3" color="#000000" face="Georgia"><span style="line-height: normal;">&bull; Meanwhile, the ousted Papua New Guinea assistant police commissioner has claimed that the main suspect in Reza Barati's death, a former Salvation Army worker, has fled to the PNG mainland.&nbsp;</span></font><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">&nbsp;</span><br style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;" />
												<font size="3" color="#000000" face="Georgia"><span style="line-height: normal;">&bull; And an asylum seeker who lost an eye in the violence in which Barati was killed is suing the government and security firm G4S, claiming they failed in their duty of care.</span></font>
												</div>
												</div>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#004a83">
							<tbody>
								<tr valign="top">
									<td align="left" style="padding: 0px 0px 0px 20px;">
									<span style="font-style: normal; font-variant: normal; line-height: normal; display: block; padding: 10px 0px; font-weight: normal; color: #ffffff; text-decoration: none; font-family: Georgia,serif; font-size: 14px;" class="section-heading">
									Subsection 6</span>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
						<td></td>
					</tr>
					<tr>
						<td align="left">
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td style="padding: 10px 20px 20px;">
									<table width="100%" cellspacing="0" cellpadding="0" border="0" style="color: #005689; font-style: normal; font-variant: normal; font-weight: normal; line-height: 19px; text-decoration: none; display: block; padding-bottom: 4px; font-family: Georgia,serif; font-size: 15px;" class="story-title">
										<tbody>
											<tr>
												<td valign="top" align="left">
												<div>
												<span style="color: #005689; font-style: normal; font-variant: normal; font-weight: normal; line-height: 19px; text-decoration: none; display: block; padding-bottom: 4px; font-family: Georgia,serif; font-size: 15px;" class="story-title"><span style="color: #000000; font-family: Georgia; font-size: medium; line-height: normal;">The Refugee Council of Australia has warned that Australia would &quot;flagrantly&quot; violate the refugee convention if 153 Tamil asylum seekers were sent to Sri Lanka without being allowed to lodge a claim for protection.</span><br />
												</span>
												</div>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>