{% import 'macro/stories.html' as story_blocks %}
{% macro heading(heading_text, link, colour='#333', border_top=True, border_bottom=True) -%}
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-left: 15px solid {{ heading_colour(heading_text) }};">
	<tr height="45" valign="top">
		<td align="left" style="{% if border_top %}border-top: 1px solid #dedede;{% endif %}{% if border_bottom %} border-bottom: 1px solid #dedede;{% endif %}">
			{% if link %}<a href="{{ link }}" style="font: 16px Helvetica, Arial, sans-serif; display: block; font-weight: bold; padding: 10px 0 0 10px; color: {{ colour }}; text-decoration: none;">{% endif %}
				{{ heading_text }}
			{% if link %}</a>{% endif %}
		</td>
	</tr>
</table>
{%- endmacro %}


{% macro picture_of_day(picture_of_day) -%}
{% set picture = [picture_of_day[0].mediaAssets[0]] %}
{% for media_asset in picture_of_day[0].mediaAssets if '460' == media_asset.fields.width %}
	{% if picture.append(media_asset) %}{% endif %}
{% endfor %}

{% if picture[1] %}
	{% set picture = picture[1] %}
{% else %}
	{% set picture = picture[0] %}
{% endif %}

<tr><td style="padding-top: 20px;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#424242">
		<tr><td>{{ heading(heading_text='Eyewitness picture of the day', colour='#fff', border_top=False, border_bottom=False, link='http://www.guardian.co.uk/world/series/eyewitness') }}</td></tr>
		<tr><td align="left"><a href="{{ picture_of_day[0].webUrl }}"><img src="{{ picture.file }}" width="100%" alt="{{ picture.fields.altText }}" border="0" /></a></td></tr>
		<tr>
			<td align="left" style="color: #fff; font-weight: bold; font: 13px Helvetica, Arial, sans-serif; padding: 12px 25px 0 25px;">{{ picture.fields.caption }}</td>
		</tr>
		<tr>
			<td align="left" style="color: #ccc; font: 13px Helvetica, Arial, sans-serif; padding: 0 25px 0 25px;">{{ picture.fields.source }}</td>
		</tr>
		<tr>
			<td align="left" style="font: 13px Helvetica, Arial, sans-serif; padding: 20px 25px; font-weight: bold">
				<a href="http://www.guardian.co.uk/inpictures" style="color: #00acda; text-decoration: none;">More galleries <span style="font-size: 16px; vertical-align: middle">&gt;</span></a>
			</td>
		</tr>
	</table>
</td></tr>
{% endmacro %}


{% macro story_trail(heading_text, stories, heading_link=None, more_text=None) -%}
{% if not more_text %}
	{% set more_text = heading_text %}
{% endif %}
<tr><td style="padding-top: 20px;">{{ heading(heading_text=heading_text, link=heading_link) }}<td></tr>

<tr><td>
	{% for story in stories %}
		{{ story_blocks.thumb(story, loop.index == 1) }}
	{% endfor %}
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="padding: 0 25px;"><tr><td>
		<a style="margin-top: 12px; display: block; padding: 12px 0 0 0; border-top: 1px solid #dedede; color: #006fd5; font: 13px Helvetica, Arial, sans-serif; text-decoration: none; font-weight: bold;" href="{{ heading_link }}">More {{ more_text|lower }} <span style="font-size: 16px; vertical-align: middle">&gt;</span></a>
	</td></tr></table>
</td></tr>
{%- endmacro %}

{% macro heading_colour(heading_text) -%}
	{% if 'Top Stories' == heading_text %}
		#004179
	{% elif 'Most viewed in last 24 hours' == heading_text %}
		#ab1700
	{% elif 'Sport' == heading_text %}
		#20a111
	{% elif 'Culture' == heading_text %}
		#d1008b
	{% elif 'Eyewitness picture of the day' == heading_text %}
		#00acda
	{% elif 'Comment is free' == heading_text %}
		#004179
	{% elif 'Life and style' == heading_text %}
		#ea721e
	{% elif 'Technology' == heading_text %}
		#d61d00
	{% elif 'Business' == heading_text %}
		#004179
	{% elif 'Money' == heading_text %}
		#8f1ab6
	{% elif 'Travel' == heading_text %}
		#066ec9
	{% endif %}
{%- endmacro %}

{% macro advert(ad_html) -%}
<tr><td style="padding-top: 20px;" align="center">
<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 468px;">
	<tr valign="top">
		<td align="center" style="font: 16px Helvetica, Arial, sans-serif; font-weight: bold; padding: 0; text-align: center;">{{ ad_html }}</td>
	</tr>
</table>
</td></tr>
{%- endmacro %}
