{% import 'macro/stories.html' as story_blocks %}
{% macro heading(heading_text, colour = '#333', border = True) -%}
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-left: 15px solid {{ heading_colour(heading_text) }};">
	<tr height="45" valign="top">
		<td style="font: 16px Arial; color: {{ colour }}; font-weight: bold; padding: 10px 0 0 10px;{% if border %} border-top: 1px solid #dedede; border-bottom: 1px solid #dedede;{% endif %}">{{ heading_text }}</td>
	</tr>
</table>
{%- endmacro %}


{% macro picture_of_day(picture_of_day) -%}
{% set picture = picture_of_day[0].mediaAssets[0] %}
<tr><td style="padding-top: 20px;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#424242">
		<tr><td>{{ heading(heading_text='A pic of the day', colour='#fff', border=False) }}</td></tr>
		<tr><td><img src="{{ picture.file }}" width="100%" alt="{{ picture.fields.altText }}" /></td></tr>
		<tr>
			<td style="color: #fff; font-weight: bold; font: 13px Arial; padding: 12px 25px 0 25px;">{{ picture.fields.caption }}</td>
		</tr>
		<tr>
			<td style="color: #ccc; font: 13px Arial; padding: 0 25px 0 25px;">{{ picture.fields.source }}</td>
		</tr>
		<tr>
			<td style="font: 13px Arial; padding: 20px 25px; font-weight: bold">
				<a href="http://www.guardian.co.uk/world/series/eyewitness" style="color: #00acda; text-decoration: none;">More Galleries</a>
			</td>
		</tr>
	</table>
</td></tr>
{% endmacro %}


{% macro story_trail(heading_text, stories) -%}
<tr><td style="padding-top: 20px;">{{ heading(heading_text) }}<td></tr>

<tr><td style="padding-top: 20px;">
{% for story in stories %}
	{{ story_blocks.thumb(story, loop.index == 1) }}
{% endfor %}
</td></tr>
{%- endmacro %}

{% macro heading_colour(heading_text) -%}
	{% if 'Top Stories' == heading_text %}
		#004179
	{% elif 'Most viewed in last 24 hours' == heading_text %}
		#ab1700
	{% elif 'Sport' == heading_text %}
		#20a111
	{% elif 'Culture' == heading_text %}
		#d1008b
	{% elif 'A pic of the day' == heading_text %}
		#00acda
	{% endif %}
{%- endmacro %}