{% macro story(story, first=False, thumbnail=False, standfirst=True, first_para=False) -%}
<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td style="padding: 10px 20px 20px 20px;{% if not first %} border-top: 1px solid #dedede;{% endif %}">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="left" valign="top"{% if not first %} style="{% if not story.fields.thumbnail %} height: 40px;{% endif %}"{% endif %}>
            {% if story.fields.thumbnail and thumbnail %}<a href="{{ story.webUrl }}"><img class="story-image" src="{{ story.fields.thumbnail }}" width="100" height="60" align="right" style="padding: 0 0 0 10px;" />{% endif %}</a>
            <a class="story-title" href="{{ story.webUrl }}" style="color: #005689; font: 15px/19px Georgia, serif; text-decoration: none;">{{ story.webTitle }}</a>
            <br />
            {% if first_para %}<a href="{{ story.webUrl }}" style="text-decoration: none; font-family: helvetica, arial, sans-serif; font-size: 13px; color: #555555; line-height: 1.4;">{{ story.fields.body|striptags|first_paragraph }}</a>
            {% elif standfirst %}<a href="{{ story.webUrl }}"
                                    style="text-decoration: none; font-family: helvetica, arial, sans-serif; font-size: 12px; color: #555555;">
              {{ story.fields.trailText|striptags }}</a>{% endif %}
          </td>
        </tr>
        {% if story.comment_count %}
        <tr>
          <td style="padding-top: 4px">
            <a style="text-decoration: none; font-family: helvetica, arial, sans-serif; font-size: 12px; color: #005689; vertical-align: top;" href="{{ story.webUrl }}#start-of-comments"><img src="http://resource.guim.co.uk/global/static/file/discussion/comment-icon12x12.gif" width="12" height="12" style="margin-right: 2px"> {{ '{:,}'.format(story.comment_count) }} comments</a>
          </td>
        </tr>
        {% endif %}
        {% if story.share_count %}
          {% set encodedStoryUrl = story.webUrl|urlencode %}
          {% set facebookShareUrl = 'http://www.facebook.com/share.php?u=%s' % encodedStoryUrl %}
          {% set twitterShareUrl = 'http://twitter.com?status=%s' % encodedStoryUrl %}

        <tr>
          <td style="padding-top: 4px">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
              <td width="112">
                <a style="text-decoration: none; font-family: helvetica, arial, sans-serif; font-size: 12px; color: #005689" href="{{ story.webUrl }}"><img src="http://static.guim.co.uk/static/52baaf1a56a5e11c763b34c4a9428b50b48efe2a/common/images/icon-share.png" width="12" height="12" style="margin-right: 2px"> {{ '{:,}'.format(story.share_count) }} shares</a>
              </td>
              <td style="text-decoration: none; font-family: helvetica, arial, sans-serif; font-size: 12px; vertical-align: top">Share:
                  <a style="text-decoration: none; padding: 5px; color: #005689" href="{{ facebookShareUrl }}"><span class="spr-16 facebook"></span>Facebook</a>
                  <a style="text-decoration: none; padding: 5px; color: #005689" href="{{ twitterShareUrl }}"><span class="spr-16 twitter"></span>Twitter</a>
              </td>
              </tr>
            </table>
           </td>
        </tr>
        {% endif %}
      </table>
    </td>
  </tr>
</table>
{%- endmacro %}
