{# Comment is free email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}

{% set title = 'Best of US Opinion' %}
{% set title_link = 'http://www.theguardian.com/us/commentisfree' %}
{% set title_colour = '#005689' %}
{% set logo_background  = '#ff5d00' %}
{% set facebook_page = 'GuardianComment' %}
{% set twitter_account = 'CifAmerica' %}

{% block content %}

{{ layout.story_trail(
    heading_text="US Opinion",
    stories=us_opinion,
    heading_link='http://www.theguardian.com/us/commentisfree',
    heading_colour='#0061a6',
    thumbnail=True,
    standfirst=False,
    always_show=False) }}

{{ layout.story_trail(
    heading_text="Today's most shared opinion pieces",
    stories=cif_most_shared,
    heading_link='http://www.theguardian.com/us/commentisfree',
    heading_colour='#0061a6',
    thumbnail=True,
    standfirst=False) }}

{% endblock content %}

{% block footer %}{% endblock footer %}

{% set sections = (
   ('Comment is free', 'http://www.theguardian.com/us/commentisfree'),
) %}
