{# Australian politics email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}

{% set title = 'The Flyer: Your weekly round-up from Guardian Travel' %}
{% set title_link = 'http://www.theguardian.com/travel' %}
{% set title_colour = '#005689' %}
{% set facebook_page = 'TravelGuardian' %}
{% set twitter_account = 'GuardianTravel' %}

{% block content %}

{{ layout.story_trail(
    heading_text='Editor\'s picks',
    stories=travel_picks,
    heading_link='http://www.theguardian.com/travel',
    heading_colour='#4bc6df',
    thumbnail=True) }}

{{ layout.advert(ads.leaderboard) }}

{{ layout.story_trail(
    heading_text='Most viewed',
    stories=travel_most_viewed,
    heading_link='http://www.theguardian.com/most-read/travel?view=mobile',
    heading_colour='#4bc6df',
    top_thumb=True) }}

{{ layout.story_trail(
    heading_text='The best of our Top 10',
    stories=travel_top_ten,
    heading_link='http://www.theguardian.com/travel/top10',
    heading_colour='#4bc6df',
    top_thumb=True) }}

{{ layout.story_trail(
   heading_text='Latest video',
   stories=travel_video,
   heading_link='http://www.theguardian.com/travel/travel+content/video',
   heading_colour='#4bc6df',
   top_thumb=True) }}

{{ layout.story_trail(
    heading_text='Share your tips',
    stories=travel_tips,
    heading_link='http://www.theguardian.com/travel/series/been-there-readers-tips',
    heading_colour='#4bc6df',
    top_thumb=True) }}

{% endblock content %}

{% set sections = (('City guides', 'http://www.theguardian.com/travel/city-guides'),
                   ('Insiders\' America', 'http://www.theguardian.com/travel/interactive/2013/oct/03/travel-usa-guides'),
                   ('Beach on a budget', 'http://www.theguardian.com/travel/series/the-worlds-best-beach-hotels-and-accommodation-on-a-budget')) %}
