{% macro story(story, standfirst=False, more_thumbs, index, first=False, thumbnail=False, show_story_text=True, first_para=False, share_links=True, use_standfirst=False, popular=False) -%}
  {% set tone = story|get_tone() %}
  {% set keyword = story|get_keyword() %}
  {% set picture = story|largest_image(image_type='thumbnail') %}
  {% if popular %}
    <table cellspacing="0" cellpadding="0" border="0" width="600">
      <tr>
        <td {% if index > 1 %}style="border-top: 1px solid #DCDCDC;"{% endif %}>
          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td class="hide" width="5"></td>
            </tr>
            <tr>
              <td align="left" valign="top" style="{% if not story.fields.thumbnail and not first %} height: 40px;{% endif %}">
                <a href="{{ story.webUrl }}" style=" text-decoration: none;">
                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    {% if index > 1 %}
                      <tr>
                        <td colspan="2" height="5"></td>
                      </tr>
                      <tr>
                        <td colspan="2" class="hide" height="5"></td>
                      </tr>
                    {% endif %}
                    <tr>
                      <td width="35" valign="top">
                        <span class="index" style="font-family: 'DE2DisplayEgyptianLight', Times, 'Times New Roman', serif; font-size:44px; font-weight: 300; line-height: 1; text-decoration: none; color:#DCDCDC;">{{index}}</span>
                      </td>
                      <td valign="top">
                        {% if story.sectionId == 'commentisfree' or tone == 'tone/comment' %}
                          <img class="icon no-margin" width="29" style="margin-bottom:-3px;" src="{{URL_ROOT}}/static/img/speech-icon.jpg" border="0" alt="commentisfree">&nbsp;
                        {% endif %}
                        <span class="{% if thumbnail and standfirst %}big-text{% else %}regular-text{% endif %}"  style="font-family: 'DE3DisplayEgyptian', Georgia, serif; line-height: 1.421; font-size:19px;text-decoration: none; color: #333333;">{{story.webTitle}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" height="15"></td>
                    </tr>
                    <tr>
                      <td colspan="2" class="hide" height="10"></td>
                    </tr>
                  </table>
                </a>
              </td>
            </tr>
            <tr>
              <td class="hide" width="5"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  {% else %}
    <table cellspacing="0" cellpadding="0" border="0" width="600">
      <tr>
        <td {% if not first or not thumbnail %}style="{% if tone == 'tone/comment' %} border-top: 1px solid #E6711B; {% elif tone == 'tone/features' %} border-top: 1px solid #951C55; {% elif tone == 'tone/reviews' %} border-top: 1px solid #FFBB00; {% else %} border-top: 1px solid #4BC6DF; {% endif %} {% if story.fields.liveBloggingNow == 'true' %} border-top: 1px solid #B51800; {% endif %} {% if story.type == 'gallery' or story.type == 'video' or story.type == 'audio' or story.type == 'image' %} border-top: 1px solid #FFBB00; {% endif %}"{% endif %}>
          <table cellspacing="0" cellpadding="0" border="0" width="600">
            {% if thumbnail %}
              <tr>
                <td>
                  <a href="{{ story.webUrl }}">
                    <img class="top-image" src="{{ picture.file }}" width="600" alt="{{story.fields.headline}}" border="0" alt="{{story.fields.headline}}"/>
                  </a>
                </td>
              </tr>
            {% endif %}
            <tr>
              <td class="hide" height="5"></td>
            </tr>
            <tr>
              <td height="5"></td>
            </tr>
            <tr valign="top">
              {% if more_thumbs and (index == 2 or index == 3) %}
                <td>
                  <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                      <td height="6"></td>
                    </tr>
                    <tr>
                      <td>
                        <a href="{{ story.webUrl }}" style=" text-decoration: none;">
                          <img class="story-image" src="{{ picture.file }}" width="188" align="left" style="vertical-align: text-top;" alt="{{story.fields.headline}}" border="0"/>
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="hide" width="5"></td>
                <td width="5"></td>
              {% endif %}
              <td align="left">
                <a href="{{ story.webUrl }}" style=" text-decoration: none;">
                  {% if story.sectionId == 'commentisfree' or tone == 'tone/comment' %}
                    <img class="icon no-margin" width="29" style="margin-bottom:-3px;" src="{{URL_ROOT}}/static/img/speech-icon.jpg" border="0" alt="commentisfree">&nbsp;<span class="regular-text" style="font-family: 'DE3DisplayEgyptian', Georgia, serif; font-size:19px; font-weight:400; line-height: 1.421; color: #333333">{{story.fields.headline}}</span><br>
                    <span class="regular-text" style="font-family: 'DE3DisplayEgyptian', Georgia, serif; font-size:19px; font-weight:400; line-height: 1.421; color: #E6711B;">{{story.fields.byline}}</span>
                  {% else %}
                    {% if story.fields.liveBloggingNow == 'true' %}
                      <span class="regular-title" style="font-family: 'DE4DisplayEgyptianMedium', Georgia, serif; font-size:19px; line-height: 1.421; font-weight: 600; color:#B51800;">Live</span>
                    {% else %}
                      <span class="regular-title" style="font-family: 'DE4DisplayEgyptianMedium', Georgia, serif; font-size:19px; font-weight: 600; line-height: 1.421; {% if tone == 'tone/comment' %} color: #E6711B; {% elif tone == 'tone/features' %} color: #951C55; {% elif tone == 'tone/reviews' %} color: #FFBB00; {% else %} color: #005689; {% endif %} {% if story.type == 'gallery' or story.type == 'video' or story.type == 'audio' or story.type == 'image' %} color: #FFBB00; {% endif %}">
                        {{keyword}}
                      </span>
                    {% endif %}
                    <span class="regular-text" style="font-family: 'DE3DisplayEgyptian', Georgia, serif; font-size:19px; font-weight:400; color: #DCDCDC;{% if tone == 'tone/reviews' or story.type == 'gallery' or story.type == 'video' or story.type == 'audio' or story.type == 'image' %} color:#FFBB00{% endif %}">/</span>
                    {% if story.type == 'gallery' or story.type == 'image' %}
                      <img class="icon" width="29" style="margin-bottom: -3px;" src="{{URL_ROOT}}/static/img/photo-icon.jpg" alt="image" border="0">&nbsp;
                    {% elif story.type == 'audio' %}
                      <img class="icon" width="29" style="margin-bottom: -3px;" src="{{URL_ROOT}}/static/img/speaker-icon.jpg" alt="audio" border="0">&nbsp;
                    {% elif story.type == 'video' %}
                      <img class="icon" width="29" style="margin-bottom: -3px;" src="{{URL_ROOT}}/static/img/camera-icon.jpg" alt="video" border="0">&nbsp;
                    {% endif %}                    
                    <span class="regular-text" style="font-family: 'DE3DisplayEgyptian', Georgia, serif; font-size:19px; font-weight:400; line-height: 1.421; color: #333333;">{{story.webTitle}}</span>
                  {% endif %}
                </a>
                {% if story.comment_count %}
                  <table style="padding-top: 10px;" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td width="122">
                        <a style="text-decoration: none; font-family: helvetica, arial, sans-serif; font-size: 12px; color: #005689; vertical-align: top;" href="{{ story.webUrl }}#start-of-comments"><img src="http://resource.guim.co.uk/global/static/file/discussion/comment-icon12x12.gif" width="12" height="12" style="margin-right: 2px" alt="commentcount"> {{ '{:,}'.format(story.comment_count) }} comments</a>
                      </td>
                    </tr>
                  </table>
                  {% endif %}

                  {% if story.share_count and share_links %}
                    {% set encodedStoryUrl = story.webUrl|urlencode %}
                    {% set encodedStoryHeadline = story.fields.headline|urlencode %}
                    {% set facebookShareUrl = 'http://www.facebook.com/share.php?u=%s' % encodedStoryUrl %}
                    {% set twitterShareUrl = 'https://twitter.com/intent/tweet?text={headline}&url={url}'.format(headline=encodedStoryHeadline, url=encodedStoryUrl) %}

                  <table style="padding-top: 8px; color: #555;" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td style="text-decoration: none; font-family: helvetica, arial, sans-serif; font-size: 12px;">Share:
                          <a style="text-decoration: none; padding-left: 5px; color: #005689;" href="{{ facebookShareUrl }}"><span class="spr-16 facebook" style="display: inline-block; width: 14px; height: 14px; margin-right: 4px; vertical-align: bottom; background: url(http://static.guim.co.uk/static/e072231164cb217e5263d6fe094fe353cf069815/common/images/sprite/ico-16x16.png) -129px -1px;"></span>Facebook</a>
                          <a style="text-decoration: none; padding-left: 5px; color: #005689;" href="{{ twitterShareUrl }}"><span class="spr-16 twitter" style="display: inline-block; width: 14px; height: 14px; margin-right: 4px; vertical-align: bottom; background: url(http://static.guim.co.uk/static/e072231164cb217e5263d6fe094fe353cf069815/common/images/sprite/ico-16x16.png) -145px -1px;"></span>Twitter</a>
                      </td>
                    </tr>
                  </table>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  {% endif %}
{%- endmacro %}