{# Australian Sport email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}

{% set title = 'Guardian Australia Sport' %}
{% set title_link = 'http://www.theguardian.com/au/sport' %}
{% set title_colour = '#333333' %}
{% set facebook_page = 'theguardianaustralia' %}
{% set twitter_account = 'GdnAusSport' %}

{% block content %}

{{ layout.story_trail(
    heading_text='Top stories',
    stories=au_sport,
    heading_link='http://www.theguardian.com/au/sport',
    heading_colour='#0061a6',
    thumbnail=True,
    standfirst=False) }}

{{ layout.story_trail(
    heading_text='Around the globe',
    stories=uk_sport,
    heading_link='http://www.theguardian.com/au/sport',
    heading_colour='#0061a6',
    thumbnail=True,
    standfirst=False) }}
{% endblock content %}

{% set sections = () %}
