{# Australian Sport email template #}

{% extends 'base_email.html' %}
{% import 'macro/layout.html' as layout %}

{% set title = 'Australia Sport' %}
{% set title_link = 'http://www.theguardian.com/au/sport' %}
{% set title_colour = '#333333' %}
{% set logo_background = '#004179' %}
{% set facebook_page = 'theguardianaustralia' %}
{% set twitter_account = 'GuardianAus' %}

{% block content %}

{{ layout.story_trail(
    heading_text='Sport',
    stories=au_sport,
    heading_link='http://www.theguardian.com/au/sport',
    heading_colour='#0061a6',
    thumbnail=True,
    standfirst=False) }}

{% endblock content %}

{% block footer %}{% endblock footer %}

{% set sections = () %}
